
  <div class="flex align-items-center gap-2 justify-content-between h-5rem border-bottom-1 px-3 border-gray-200 ">
    <div class="flex w-7rem md:w-20rem justify-content-between align-items-center">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg"  alt=""/>
      <i class="pi pi-bars"></i>
    </div>
    <div class="flex align-items-center">
      <p-avatar size="large" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      <span class="font-bold text-black">Amy Elsner</span>
    </div>
  </div>
