/* You can add global styles to this file, and also import other style files */
@import "assets/themes/mytheme/theme.scss";
@import "primeicons/primeicons.css";
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-family);
  background: var(--surface-b);
}
